<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="passwordModalLabel">Enter Password</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="password" id="passwordInput" class="form-control" placeholder="Password">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="passwordSubmitButton">Submit</button>
      </div>
    </div>
  </div>
</div>
