<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form class="modal-content" id="passwordForm" novalidate>
      <div class="modal-header">
        <h2 class="modal-title h6" id="passwordModalLabel">Unlock the solution</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="form-label" for="passwordInput">Tutorial password</label>
        <input type="password" id="passwordInput" name="password" class="form-control"
               autocomplete="off" autocapitalize="off" spellcheck="false"
               aria-describedby="passwordHelp passwordError">
        <p class="form-text" id="passwordHelp">Your tutor gives out the password in class.</p>
        <p class="form-error" id="passwordError" role="alert"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="passwordSubmitButton">Show solution</button>
      </div>
    </form>
  </div>
</div>
