{{- define "head" -}}
<link href="{{ (resources.Get "css/textbook.css").Permalink}}" rel="stylesheet"></link>
{{- end -}}

{{ define "style"}}
    :root {
      --chapter: "{{ math.Div .Weight 10}}";
    }
{{end}}

{{- define "main" -}}
{{- partial "single/nav-top" . -}}

<div class="container chapter">
  {{ with .Params.author }}<p>By: <em>{{.}}</em></p>{{end}}
  <div class="m-3">
  {{- .Content -}}
  </div>
  {{ with .Params.last_edited }} <p><em>Last edited: </em>{{.}}</p>{{ end }}
</div>

{{ partial "single/nav-bot" . }}
{{- end -}}
