{{- define "head" -}}
<link href="{{ (resources.Get "css/textbook.css").Permalink}}" rel="stylesheet"></link>
{{- end -}}

{{ define "style"}}
    :root {
      --chapter: "{{ math.Div .Weight 10}}";
    }
{{end}}

{{- define "main" -}}
{{- partial "single/nav-top" . -}}

<div class="container chapter">
  {{ with .Params.author }}<p>By: <em>{{.}}</em></p>{{end}}
  <div class="m-4">
  {{- $patternBlock := `(?s)\$\$(.*?)\$\$` -}}
  {{- $replacementBlock := `<div class="text-center my-4 excalifont" style="font-size: clamp(1.4rem, 1vw + 0.5rem, 2rem);">${1}</div>` -}}

  {{- $patternTicks := "`([^`]*)`" -}}
  {{- $replacementTicks := "<code>${1}</code>" -}}

  {{- $patternInline := `(?s)\$(.*?)\$` -}}
  {{- $replacementInline := `<span class="excalifont" style="  font-size: clamp(0.9rem, 1vw + 0.5rem, 1.4rem);">${1}</span>` -}}
  
  {{- $processed := .RawContent 
      | replaceRE $patternTicks $replacementTicks
      | replaceRE $patternBlock $replacementBlock 
      | replaceRE $patternInline $replacementInline -}}
  
  {{ $processed | .RenderString }}

  </div>
  {{ with .Params.last_edited }} <p><em>Last edited: </em>{{.}}</p>{{ end }}
</div>

{{ partial "single/nav-bot" . }}
{{- end -}}
