<nav class="breadcrumb-trail" aria-label="Breadcrumb">
  <ol>
    <li><a href="{{ "/" | relURL }}">Home</a></li>
    {{- with .CurrentSection }}
      {{- if ne .RelPermalink "/" }}<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>{{ end -}}
    {{- end }}
    <li><span aria-current="page">
      {{- if .Params.appendix }}Appendix {{ .Params.appendix }}: {{ .Title }}{{ else }}{{ with .CurrentSection.Param "section-names" }}{{ . }} {{ math.Div $.Weight 10 }}{{ else }}{{ $.Title }}{{ end }}{{ end -}}
    </span></li>
  </ol>
</nav>
