{{ define "head" }}
<link rel="stylesheet" href="{{ (resources.Get "css/exercises.css").Permalink }}"></link>
{{ end }}

{{ define "main" }}
  {{ partial "exercises/password-modal" . }}
  {{ partial "single/nav-top" . }}
  {{ partial "single/title" . }}

{{ partial "shared/info" . }}

{{ with .Resources.Get "img/test.md"}}
{{ .Content }}
{{end}}

<div class="container exercises">
  <div class="m-4">

    {{- $patternMathBlock := `(?s)\$\$(.*?)\$\$` -}}
    {{- $replacementMathBlock := `<div class="text-center my-4 excalifont">${1}</div>` -}}
  
    {{- $patternMathInline := `(?s)\$(.*?)\$` -}}
    {{- $replacementMathInline := `<span class="excalifont">${1}</span>` -}}
  
    {{- $patternCodeBlock := "```([^`]*)```" -}}
    {{- $replacementCodeBlock := `<div class="customBlock text-center my-4"><code class="customCode">${1}</code></div>` -}}
  
    {{- $patternCodeInline := "`([^`]*)`" -}}
    {{- $replacementCodeInline := `<code class="customCode">${1}</code>` -}}
  
    {{- $patternBoolean := "!!(.*?)!!" -}}
    {{- $replacementBoolean := `<span class="Boolean">${1}</span>` -}}

    {{- $patternKleene := "~!(.*?)!~" -}}
    {{- $replacementKleene := `<span class="Kleene">${1}</span>` -}}

    {{- $patternMDCode := "~~~(.*?)~~~" -}}
    {{- $replacementMDCode := "```${1}```" -}}

    {{- $patternMDInline := "%(.*?)%" -}}
    {{- $replacementMDInline := "`${1}`" -}}

    {{- $processed := .RawContent 
        | replaceRE $patternMathBlock $replacementMathBlock 
        | replaceRE $patternMathInline $replacementMathInline 
        | replaceRE $patternCodeBlock $replacementCodeBlock 
        | replaceRE $patternCodeInline $replacementCodeInline 
        | replaceRE $patternBoolean $replacementBoolean 
        | replaceRE $patternKleene $replacementKleene 
        | replaceRE $patternMDCode $replacementMDCode 
        | replaceRE $patternMDInline $replacementMDInline 
      -}}
    
    {{ $processed | .RenderString }}

  </div>
</div>

{{ partial "single/nav-bot" . }}

{{ end }}


{{ define "footer" }}
<script src="{{ (resources.Get "js/exercises.js").Permalink}}"></script>
{{ end }}
