<div class="container p-3 text-center">
  {{ with .Param "title_img" }}
    {{ with resources.Get (printf "img/%s" .) }}
       <img src="{{ .Permalink }}" draggable="false" width="460px" class="inert-img img-fluid">
    {{ end }}
  {{ end }}
  {{ if .Param "show-author" }}
  <p>
    <ul class="list-group">
      {{ range .Param "authors"}}
      <li class="list-group-item border-0 p-0 bg-white">
        <em>{{ . | markdownify }}</em>
      </li>
      {{ end }}
    </ul>
  </p>
  {{ with .Param "contributors" }}
  <p>
    Contributors:
    <ul class="list-group">
      {{ range . }}
      <li class="list-group-item border-0 p-0 bg-white"><em>{{ . | markdownify }}</em></li>
      {{ end }}
    </ul>
  </p>
  {{ end }}
  {{ end }}
</div>
