<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-nav" aria-labelledby="offcanvas-navLabel" data-bs-theme="dark">
  <div class="offcanvas-header">
    <div class="h5 offcanvas-title" id="offcanvas-navLabel">
      Browse course
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  {{ $currentPage := . }}
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      {{- range sort .Site.Sections.ByWeight -}}
      <li class="nav-item">
        <div class="d-flex flex-row">
          <div class="container">
            <a class="nav-link {{ if or (eq $currentPage.Section .Section) (eq $currentPage .) }}fw-bold active{{ end }}" href="{{ .RelPermalink }}">{{ .Param "icon" | safeHTML}} &nbsp;&nbsp; {{ .Title }}</a>
          </div>
          {{- if .Pages }}
          <button 
            class="btn btn-sm btn-dark" 
            href="{{ .RelPermalink }}"
            id="navbarSection{{ .Param "id" }}" data-bs-toggle="collapse"
            data-bs-target="#collapse{{ .Param "id" }}"  
            aria-expanded="{{ if or (eq $currentPage.Section .Section) (eq $currentPage .)}}true{{ else }}aria-expanded=false{{ end }}"
            aria-controls="collapse{{ .Param "id" }}">
            <i class="bi bi-caret-left-fill toggle-icon"></i>
          </button>
        </div>
        <div class="collapse {{ if or (eq $currentPage.Section .Section) (eq $currentPage .) }}show{{ end }}" id="collapse{{ .Param "id" }}">
          <ul class="list-unstyled ms-3">
            {{- range .Pages }}
            <li>
              <a class="dropdown-item {{ if eq $currentPage . }}fw-bold active{{ end }}" href="{{ .RelPermalink }}">{{ .Weight }}. {{ .Title }}</a>
            </li>
            {{ end -}}
          </ul>
        </div>
        {{ end }}
      </li>
      <hr>
      {{ end }}
    </ul>
  </div>
</div>
