{{ define "main" }}
<div class="element align-self-center bg-white mb-2">
  <div class="pt-5 pb-2 text-center ">
    <img src="{{ (resources.Get "img/title-graphics.png").Permalink }}" draggable="false" width="460px" class="inert-img">
  </div>
  <div class="d-flex justify-content-center p-2 ">
    <div class="list-group shadow">
      {{ range sort .Site.Sections.ByWeight }}
      {{ if not .Params.hidden }}
      <a href="{{ .RelPermalink }}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
        {{ .Param "emoji" }}
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">{{ .Title }}</h6>
            <p class="mb-0 opacity-75">{{ .Param "teaser" }}</p>
          </div>
        </div>
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
