{{ $chapter := .Get "chapter" }}
{{ $page := site.GetPage (printf "/textbook/%s" $chapter) }}
{{ if $page }}
<a href="{{ $page.Permalink}}{{with .Get "id"}}/#{{.}}{{end}}"
   {{with .Get "class"}}class="{{ . }}"{{ end }}
   {{with .Get "target"}}target="{{ . }}"{{ end }}
   {{with .Get "rel"}}rel="{{ . }}"{{ end }}
   {{with .Get "data-bs-toggle"}}data-bs-toggle="{{ . }}"{{ end }}
   {{with .Get "role"}}role="{{ . }}"{{ end }}
   {{with .Get "aria-controls"}}aria-controls="{{ . }}"{{ end }}>
  {{- .Inner -}}</a>
{{ end }}
